<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <!-- Meta data -->
    <meta charset="UTF-8" />
    <meta content="auth-gateway" name="description" />
    <meta content="auth-gateway" name="author" />
    <meta name="keywords" content="auth-gateway" />
    {% include 'registration/css.html' %}
    {% block css %}

    {% endblock %}
  </head>

  <body class="default-header">
    <!-- BACKGROUND-IMAGE -->
    <div class="login-img">
      <div class="page">
        <div class="">
          <!-- CONTAINER OPEN -->

          {% block content %}

          {% endblock %}
          <!-- CONTAINER CLOSED -->
        </div>
      </div>
    </div>
    <!-- BACKGROUND-IMAGE CLOSED -->
  </body>
</html>
