{% extends 'registration/base-registration.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container-login100">
    <div class="wrap-login100 p-6">
      <form class="login100-form validate-form" action="" method="post">
        {% csrf_token %}
        <span class="login100-form-title">Auth Gateway Login</span>
        {{ form|crispy }}
        <div class="text-right pt-1">
          <p class="mb-0">
            <a href="/password_reset/?state={{ state }}" class="text-primary ml-1">Forgot Password?</a>
          </p>
        </div>
        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
