{% extends 'registration/base-registration.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container-login100">
    <div class="wrap-login100 p-6">
      {% if validlink %}
        <form class="login100-form validate-form" action="" method="post">
          <span class="login100-form-title">Set New Password</span>
          {% csrf_token %}
          {{ form|crispy }}
          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn btn-primary">Change my Password</button>
          </div>
        </form>
      {% else %}
        <p style="color: red;">Invalid Token!</p>
        <p>
          <a href="{% url 'password_reset' %}">Request new token?</a>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
