<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Success</title>
    <!-- You can link to your CSS here if needed -->
</head>
<body>
    <div id="container" style="text-align: center; padding-top: 50px;">
        <h1>Data Upload Successful</h1>
        <p>Your file has been uploaded and the data is saved successfully.</p>
        <a href="{% url 'upload' %}">Return to Home</a>
        <!-- Replace 'home' with the actual name of your home page URL -->
    </div>
</body>
</html>
